.header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    position: relative;
    margin-bottom: 60px;
}

.logo {
    flex: 0;
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70px;
    max-height: 70px;
}

.burger {
    width: 30px;
    margin-top: 35px;
    cursor: pointer;
    position: relative;
    z-index: 1100;
}

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    padding-top: 35%;
    padding-bottom: 50px;
}

.menuOpen {
    right: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 5%;
}

.navigationItem {
    font-size: 18px;
    font-weight: 400;
    color: var(--Black);
    margin-bottom: 35px;
}

.navigationItemChangeLang {
    display: flex;
    align-items: center;
    position: relative;

}

.socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 5%;
    margin-bottom: 50px;
}

.socials img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.dropdownMenu {
    position: absolute;
    top: 30px;
    left: 0;
    background: linear-gradient(to bottom, var(--LightBlue) 2%, white  100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 7.5%;
    min-width: 150px;
}

.dropdownItem {
    padding: 20px;
    white-space: nowrap;
    z-index: 3;
    font-size: 18px;
    font-weight: 400;
    color: var(--Black);
}

.dropdownItem:hover {
    background: #157EFC;
    color: #fff
}

.dropIcon {
    margin-left: 5px;
    width: 1rem;
}

.dropIconOpened {
    transform: rotateX(180deg);
    margin-left: 5px;
    width: 1rem;
}


