.container {
    width: 100%;
    border-top: solid 1px #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.copyright {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.socialLinks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


