.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    min-width: 500px;
    background: white;
    border-radius: 8px;
    padding: 40px 30px;
    max-width: 35%;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.closeBtn {
    position: absolute;
    top: 3%;
    right: 4%;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: var(--Black);
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--Black);
}

.radioGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.radioGroupInner {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.radioOption {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 400;
    color: var(--Black);
    cursor: pointer;
    position: relative;
}

.radioOption input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.customRadio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--DarkGray);
    background: var(--LightGray);
    position: relative;
    transition: box-shadow 0.2s ease;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.radioOption input:checked + .customRadio {
    box-shadow: none;
}

/* Внутренний кружок при выборе */
.radioOption input:checked + .customRadio::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--Blue);
}

.button {
    background-color: var(--Blue);
    padding: 15px 55px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    border-color: transparent;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}


/* 🔽 Mobile (up to 450px) */
@media (max-width: 450px) {
    .modal {
        min-width: 90%;
        width: 100%;
        padding: 60px 30px 40px;
    }

    .radioGroupInner {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .radioGroup {
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title {
        font-size: 5.5vw;
        width: 100%;
    }

    .radioOption {
        font-size: 4.5vw;
    }

    .button {
        font-size: 5vw;
        padding: 4vw 8vw;
    }
}


/* 🔽 Tablet (450px – 768px) */
@media (min-width: 450px) and (max-width: 768px) {
    .modal {
        min-width: 400px;
        width: 100%;
        padding: 60px 30px 40px;
    }

    .title {
        font-size: 21px;
    }

    .button {
        font-size: 24px;
        padding: 5% 10%;
    }

    .radioGroupInner {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .radioGroup {
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .radioOption {
        font-size: 20px;
    }
}

/* 🔽 Tablet Large (768px – 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .modal {
        width: 100%;
        min-width: 500px;
        padding: 40px 30px 40px;
    }
}
