.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    flex-direction: column;
    padding: 100px 15px 0;
    margin-bottom: 150px;
}

.title {
    color: var(--Black);
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
}

.serviceWrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.service {
    display: flex;
    flex-direction: column;
}

.serviceImage {
    margin-bottom: 15px;
    width: 20%;
}

.serviceName {
    display: flex;
    flex-wrap: nowrap;
    color: var(--Black);
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 15px;
}

.serviceDescription {
    color: var(--Black);
    font-weight: 400;
    font-size: 22px;
}
