:root {
    --Yellow: #FFC700;
    --Blue: #157EFC;
    --CornflowerBlue: #4F97FF;
    --PaleCornflowerBlue: #B5D3FF;
    --LightBlue: #E2F0FF;
    --LightGray: #F6F7F9;
    --DarkGray: #D8DADD;
    --Gray: #EDEEF0;
    --LinkWater: #BDC1CB;
    --Manatee: #9198A8;
    --Black: #081021
}
