.container {
    max-width: 1920px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.leftSide {
    max-width: 50%;
}

.image {
    width: 100%;
}

.rightSide {
    width: 50%;
    max-width: 535px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.title {
    color: var(--Black);
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;

}

.description {
    color: var(--Black);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.links {

}

.downloadLinks {

}
