.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px 0;
}


.title {
    color: var(--Black);
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}

.description {
    color: var(--Black);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 50px;
    max-width: 90%;
}

.links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.link {
    width: 200px;
    max-width: 80%;
}

.linkImage {
    width: 200px;
    max-width: 100%;
}

.image {
    width: 100%;
}
