.bannerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    width: 100%; /* Ensure the container spans the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.bannerContent {
    width: 100%;
    max-width: 1200px; /* Set a max width to center content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    padding: 0 20px; /* Add padding to create space on the sides */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.bannerLeftSide {
    flex: 1;
    padding-right: 20px; /* Add padding between left and right sides */
}

.bannerRightSide {
    flex: 1;
    position: relative;
    padding-left: 20px; /* Add padding between left and right sides */
}

.smallCardWrapper {
    position: absolute;
    bottom: 26%;
    left: -30%;
}

.smallCard {
    width: 80%;
}

.card {
    max-width: 250px;
}

.cardWrapper {
    position: absolute;
    top: 5%;
    left: 70%;
}

.doctorImgWrapper {
    max-width: 100%;
}

.doctorImg {
    max-width: 100%;
}

.title {
    color: var(--Black);
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 50px;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 40px;
    color: var(--Black);
}

.button {
    background-color: var(--Blue);
    padding: 16px 85px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    font-family: Inter;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 80px;
    cursor: pointer;
}

.statistic {
    display: flex;
}

.statisticItemWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 55px;
}

.upperStatisticItemText {
    color: var(--Black);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.statisticItemCount {
    font-weight: 500;
    font-size: 42px;
    color: var(--Blue);
    margin-bottom: 10px;
}

.statisticItemText {
    color: var(--Black);
    font-size: 22px;
    font-weight: 400;
}

.socialLinksWrapper {
    position: absolute;
    left: 60px;
    top: 150px;
}

.socialLinkItemWrapper {
    display: flex;
    flex-direction: column;
}

.socialLinkItem {
    margin-bottom: 30px;
    height: 55px;
    text-decoration: none;
}
