.bannerWrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: relative;
}

.bannerContent {
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    justify-self: center;
    margin-bottom: 50px;

}


.bannerLeftSide {
    max-width: 60%;
}

.bannerRightSide {
    max-width: 40%;
    position: relative;
}

.smallCardWrapper {
    position: absolute;
    max-width: 70%;
    bottom: 30%;
    left: -15%;
}

.smallCard {
    max-width: 80%;
    margin-left: 2%;
}

.cardWrapper {
    max-width: 70%;
    position: absolute;
    top: 5%;
    right: -40%;
}

.card {
    max-width: 70%;
    height: auto;
}


.doctorImgWrapper {
    max-width: 100%;
}

.doctorImg {
    max-width: 100%;
}

.title {
    color: var(--Black);
    font-size: 3.625rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 40px;
    color: var(--Black);
    max-width: 90%;
}

.button {
    background-color: var(--Blue);
    padding: 17px 55px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 80px;
    cursor: pointer;
}

.statistic {
    display: flex;
}

.statisticItemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 55px;

    &:last-child {
        margin-right: 0;
    }
}


.upperStatisticItemText {
    color: var(--Black);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.statisticItemCount {
    font-weight: 500;
    font-size: 42px;
    color: var(--Blue);
    margin-bottom: 10px;
    white-space: nowrap;
}

.statisticItemText {
    display: flex;
    color: var(--Black);
    font-weight: 400;
    font-size: 22px;
    white-space: nowrap;
    max-width: 80%;
}

.statisticItemWrapper:last-child .statisticItemText {
    white-space: normal;
}

.socialLinksWrapper {
    position: absolute;
    left: 2.5%;
    top: 150px;
}

.socialLinkItemWrapper {
    display: flex;
    flex-direction: column;
}

.socialLinkItem {
    margin-bottom: 30px;
    height: 55px;
    text-decoration: none;
}
