.container {
    width: 100%;
    border-top: solid 1px #d3d3d3;
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.copyright {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}

