.bannerWrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: relative;

}

.bannerContent {
    max-width: 70%;
    display: flex;
    align-items: start;
    justify-content: center;
    justify-self: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}


.bannerLeftSide {
    max-width: 60%;
}

.bannerRightSide {
    max-width: 40%;
    position: relative;
}

.smallCardWrapper {
    position: absolute;
    bottom: 30%;
    left: -20%;
}

.smallCard {
    max-width: 50%;
}

.cardWrapper {
    max-width: 100%;
    position: absolute;
    top: 5%;
    right: -80%;
}

.card {
    width: 100%;
    max-width: 50%;
}


.doctorImgWrapper {
    max-width: 90%;
}

.doctorImg {
    max-width: 120%;
    min-width: 100%;
}

.title {
    color: var(--Black);
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 40px;
    color: var(--Black);
    max-width: 80%;
}

.button {
    background-color: var(--Blue);
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 40px;
    cursor: pointer;
}

.statistic {
    width: 100%;
    display: flex;
    gap: 10%;
}

.statisticItemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;

    &:last-child {
        margin-right: 0;
    }
}

.upperStatisticItemText {
    color: var(--Black);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.statisticItemCount {
    font-weight: 500;
    font-size: 30px;
    color: var(--Blue);
    margin-bottom: 10px;
}

.statisticItemText {
    display: flex;
    flex-wrap: wrap;
    color: var(--Black);
    font-weight: 400;
    font-size: 18px;
}


.socialLinksWrapper {
    position: absolute;
    left: 30px;
    top: 70px;
}

.socialLinkItemWrapper {
    display: flex;
    flex-direction: column;
}

.socialLinkItem {
    margin-bottom: 30px;
    height: 55px;
    text-decoration: none;
}
