.container {
    max-width: 1920px;
    width: 100%;
    border-top: solid 1px #d3d3d3;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin: 20px auto;
}

.copyright {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.socialLinks {
    :hover {
        cursor: pointer;
    }
}

.socialLinkItem {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}
