.headerContainer {
    width: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: center;
}

.header {
    width: 70%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    max-width: 100px;
    cursor: pointer;
    margin-right: 5%;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigationItem {
    margin-right: 60px;
    font-size: 16px;
    color: var(--Black);
}
@media (min-width: 1024px) and (max-width: 1390px) {
    .navigationItem {
        margin-right: 20px;
        font-size: 15px;
    }
    .logo {
        max-width: 100px;
        cursor: pointer;
        margin-right: 20px;
    }
}
@media (min-width: 1391px) and (max-width: 1475px) {
    .navigationItem {
        margin-right: 30px;
    }
}

.navigationItem:last-child {
    margin-right: 0;
}

.navigationItem:hover {
    cursor: pointer;
}
