.headerContainer {
    width: 100%;
    max-width: 1920px;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    margin-bottom: 100px;
}

.headerContainerUa {
    width: 80%;
    max-width: 1920px;
    display: flex;
    padding: 30px 0;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;

}



.logo {
    max-width: 100px;
    cursor: pointer;
    margin-right: 20px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.navigationItem {
    font-size: 18px;
    color: var(--Black);
    position: relative;
    z-index: 2;
    white-space: nowrap;
    margin-right: 20px;
}

.navigationItem:last-child {
    margin-right: 0;
}

.navigationItem:hover {
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
    top: 200%;
    right: -100%;
    background: linear-gradient(to bottom, var(--LightBlue) 2%, white  100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 7.5%;
    min-width: 200px;
}

.dropdownItem {
    padding: 20px;
    cursor: pointer;
    white-space: nowrap;
    z-index: 3;
    font-size: 18px;
    font-weight: 500;
}

.dropdownItem:hover {
    background: #157EFC;
    color: #fff
}

.dropIcon {
    margin-left: 5px;
    width: 16px;
}

.dropIconOpened {
    transform: rotateX(180deg);
    margin-left: 5px;
    width: 16px;
}

@media (min-width: 1025px) and (max-width: 1120px) {
    .header {
        max-width: 100%;
    }
    .logo{
        margin-left: 3%;
    }
    .dropdownMenu {
        right:0;
    }
}
