.bannerWrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: Inter;
    max-width: 1920px;
    position: relative;
}


.bannerContent {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-bottom: 200px;
}


.bannerLeftSide {
    max-width: 60%;
}

.bannerRightSide {
    max-width: 40%;
    position: relative;
}

.smallCardWrapper {
    position: absolute;
    bottom: 26%;
    left: -30%;
}

.smallCard {
    width: 80%;
}

.card {
    max-width: 250px;
}

.cardWrapper {
    position: absolute;
    top: 5%;
    left: 70%;
}

.doctorImgWrapper {
    max-width: 100%;
}

.doctorImg {
    max-width: 100%;
}

.title {
    color: var(--Black);
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 50px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
    font-size: 22px;
    margin-bottom: 40px;
    color: var(--Black);
}

.button {
    background-color: var(--Blue);
    padding: 16px 85px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    font-family: Inter;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 80px;
    cursor: pointer;
}

.statistic {
    display: flex;

}

.statisticItemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 60px;

}

.statisticItemCount {
    font-weight: 500;
    font-size: 42px;
    color: var(--Blue);
    margin-bottom: 10px;
}

.statisticItemText {
    display: flex;
    flex-wrap: nowrap;
    color: var(--Black);
    font-weight: 400;
    font-size: 22px;
}


.socialLinksWrapper {
    position: absolute;
    left: 60px;
    top: 150px;
}

.socialLinkItemWrapper {
    display: flex;
    flex-direction: column;
}

.socialLinkItem {
    margin-bottom: 30px;
    height: 55px;
    text-decoration: none;
}
