.container {
    max-width: 1920px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(226, 240, 255, 1), rgba(226, 240, 255, 0));
    margin-bottom: 110px;
    border-radius: 20px;
    padding: 0 60px;
}

.image {
    margin-top: 60px;
    margin-bottom: 30px;

}

.title {
    color: var(--Black);
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding: 0 60px;
    margin-bottom: 30px;
}

.description {
    color: var(--Black);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
}


.email {
    color: var(--Blue);
    text-decoration: none;
}

.socialLinks:hover {
    cursor: pointer;
}


.socialLinkItem {
    margin-right: 30px;
}

.socialLinks > a:last-child .socialLinkItem {
    margin-right: 0;
}

